
<div class="container p-2">
  <h5 class="my-3">Users List</h5>

  <div class="row my-2">
     <div class="col">
        <button class="btn btn-info" (click)="add()">Add User</button>

     </div>

  </div>
  <table class="table text-lg">
    <thead  class="thead-dark">
      <tr>
        <th scope="col">User</th>
        <th scope="col">Email</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>

      <!-- ngFor 技巧：必須加上 async 異步  -->
      <tr *ngFor="let user of users | async">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td class="text-info"><i class="fa fa-pencil-square-o"></i></td>
        <td class="text-info"><i class="fa fa-trash-o"></i></td>
      </tr>
    </tbody>
  </table>
</div>



